<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/money/information.css">
    <style>

    </style>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头部 -->
    <include file="common:headPrivate" />
    <!-- 头部结束
    <!-- 左侧 -->
    <include file="common:sidePrivate" />
    <!-- 左侧结束 -->

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" style="height: 650px;">
                     <h3 class="box-title"><a href="/Admin/MonetaryPrivate/listCustomer">现金客户</a>><a style="cursor: pointer;" href="http://47.92.119.237/Admin/MonetaryPrivate/yewuall?id={$id}&ss={$sid}">返回流程条</a></h3>
                        <div class="information">
                           <h4 class="h4">审贷</h4>
                           <form action="/Admin/ApplyPrivate/loan_approval" method="post">
                               <div>
                                    <label style="position: relative;top:-87px;right:-1px;">审贷会意见：</label><textarea cols="80" name="approval_comments" rows="5">{$data['approval_comments']}</textarea>
                               </div>
                               <div style="margin-top: 10px;">
                                    <label style="margin-left:3px;">风险值：</label>
                                    <input style="margin-left: 21px;" type="text" id="risk" name="risk" value="{$data['risk']}">
                                    
                               </div>
                               <input type="hidden" value="{$data['cid']}" id="ids" name="id">
                            <input type="submit" value="提&nbsp;&nbsp;交" class="tjs" style="margin-left: 110px;font-size: 16px;">
                               <a href="javascript:void(0)" onclick="fxzs()" target="_blank" class="btn btn1" style="position: relative;top:-2px;height:35px;background: #66cd00;color:#fff;width: 120px;margin-left:60px;font-size: 16px;">查看风险指数</a>
                            
                            <a href="/Admin/ApplyPrivate/over?state_id=22&id=" target="_blank" class="btn btn1 over" style="position: relative;top:-2px;height:35px;background: #66cd00;color:#fff;width: 120px;margin-left:68px;font-size: 16px;">审&nbsp;&nbsp;核&nbsp;&nbsp;完&nbsp;&nbsp;成</a>
                            <a href="/Admin/ApplyPrivate/over?state_id=40&id=" target="_blank" class="btn btn1 overs" style="position: relative;top:-2px;height:35px;background: #ec0d73;color:#fff;width: 120px;margin-left:68px;font-size: 16px;">审&nbsp;&nbsp;核&nbsp;&nbsp;拒&nbsp;&nbsp;绝</a>
                           </form>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</div>

<include file="common:js" />

<script>
    function checkform(){
        return true;
    }
    var url=document.URL;
    var ids=url.split('=');
    $("#ids").val(ids[1]);

    //完成
    var dlc=$(".over").attr('href');
    $(".over").attr('href',dlc+ids[1]); 
    var dlcs=$(".overs").attr('href');
    $(".overs").attr('href',dlcs+ids[1]);
    //还回流程条
    $(".goback").click(function(){
        window.history.back();
        });

    function  fxzs(){
        var id=$("#ids").val();
        var risk=$("#risk").val();

        window.location.href="/Admin/ApplyPrivate/fxzs?risk="+risk+"&id="+id;
    }
</script>
</body>
</html>