<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
  </head>
  
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
      <!-- 左侧结束 -->
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-lg-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">修改</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                <form class="form-horizontal"  toUrl="/Admin/Messageboard/index" action="/Admin/Messageboard/editindexs" id="myform">


                    <div class="form-group">
                      <label class="col-md-2 control-label">姓名：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control requires" value="{$data.username}" name="username">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-2 control-label">手机：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control requires" value="{$data.phone}" name="phone">
                      </div>
                    </div>
					
					<div class="form-group">
                      <label class="col-md-2 control-label">金额：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" value="{$data.price}" name="price">
                      </div>
                    </div>
                    
					<div class="form-group">
                      <label class="col-md-2 control-label">备注：</label>
                      <div class="col-md-9">
                        <script id="container" name="content" type="text/plain">{$data.content}</script>
                      </div>
                    </div>
					
                    <div class="form-group">
                      <div class="col-md-offset-2 col-sm-9">
                        <input type="hidden" name="iid" value="{$data.id}">
                        <input type="submit" class="btn btn-block btn-primary btn-flat" value="添加"></input>
                      </div>
                    </div>
                </form>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>

    <include file="common:js" />
	
    <script type="text/javascript">
      var ue = UE.getEditor('container', {});
      
    </script>
    
  </body>
</html>
