<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />

  </head>
  
  <style type="text/css">
  #foonav{ display:none !important;}
  #foonav2{ display:none !important;}
  </style>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
      <!-- 左侧结束 -->

      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">栏目列表</h3>
                </div>
                <div class="box-body">

                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">栏目列表</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home">
                      <div class="box-body">
                        <table id="example1" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th width="6%">ID</th>
                              <th>名称</th>
                              <th>别名</th>
                              <th>属性</th>
                              <th>模板</th>
                              <th >排序</th>
                              <th >操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <foreach name="ch_data" item="value">
                            <tr>
                              <td>{$value.id}</td>
                              <td>{$value._name}</td>
                              <td>{$value.nickname}</td>
                              <td>{$value.type}</td>
                              <td>{$value.html}</td>
                              <td>
                                <input type="text" style="width:100%;" class="form-control" old="{$value.sotr}" onblur="editSort(this, 'Columns', {$value.id})" value="{$value.sort}">
                              </td>
                              <td>
                                <a href="addindex/id/{$value.id}" class="btn btn-primary">编辑</a>
                                <button class="btn btn-danger" onclick="delById(this, {$value.id}, 'Columns')">删除</button>
                              </td>
                            </tr>
                            </foreach>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <include file="common:js" />
    <script type="text/javascript">
    </script>
  </body>
</html>
