<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
  </head>
  
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
      <!-- 左侧结束 -->
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-lg-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">提取公海客户</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                <form class="form-horizontal" toUrl="/Admin/Supply/index" action="{:U('Admin/Supply/editindex')}" id="myform">
				
				
				    <div class="form-group">
                      <label class="col-md-2 control-label">客户姓名：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control requires" value="{$data.username}" disabled="disabled">
                      </div>
                    </div>
					
					
					
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">跟进状态：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" name="state_id">
                          <option value="">请选择</option>
                          <foreach name="columnss" item="value">
                          <option value="{$value.id}" <if condition="$data['state_id'] eq $value['id']">selected</if>>{$value.name}</option>
                          </foreach>

                        </select>
                      </div>
                    </div>
					
					<!-- <div class="form-group">
                      <label class="col-md-2 control-label">联系日期：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control requires" id="datetimepicker" <if condition="isset($data['lxtime'])">value="{$data.lxtime|date='Y-m-d H:i',###}"<else/>value="{:date('Y-m-d H:i', time())}"</if> name="lxtime">                        
                      </div>
                    </div> -->
				    
					<if condition="($data['admin_id'] neq '') AND (in_array('1001',$_SESSION['level']))"> 
				   <notempty name="data.admin_ids">
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">所属业务：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" name="admin_ids">
                          <option value="">请选择</option>
                          <foreach name="genjin" item="value">
                          <option value="{$value.id}">{$value._name}</option>
                          </foreach>
                        </select>
                      </div>
                    </div>
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">跟进业务员：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" name="admin_id">
                          <option value="">请选择</option>
                          <foreach name="columnsss" item="value">
                          <option value="{$value.id}" <if condition="$data['admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
                          </foreach>
                        </select>
                      </div>
                    </div>
					<else/>
					<div class="form-group">
                      <label class="col-md-2 control-label">跟进业务员：</label>
                      <div class="col-md-6">
					    <input type="hidden" class="form-control" name="admin_id" value="{$data.admin_id}" >
                        <input type="text" class="form-control" value="{$data.admin_username}" disabled="disabled">
                      </div>
                    </div>
					</notempty>
					<elseif condition="in_array('1001',$_SESSION['level'])"/>
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">所属业务：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" name="admin_ids">
                          <option value="">请选择</option>
                          <foreach name="genjin" item="value">
                          <option value="{$value.id}" <if condition="$data['admin_ids'] eq $value['id']">selected</if>>{$value._name}</option>
                          </foreach>
                        </select>
                      </div>
                    </div>
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">跟进业务员：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" name="admin_id">
                          <option value="">请选择</option>
                          <foreach name="columnsss" item="value">
                          <option value="{$value.id}" <if condition="$data['admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
                          </foreach>
                        </select>
                      </div>
                    </div>
					<else/>
					
					<div class="form-group">
                      <label class="col-md-2 control-label">所属业务：</label>
                      <div class="col-md-6">
					    <input type="hidden" class="form-control" name="admin_ids" value="{$admin_ads.id}" >
                        <input type="text" class="form-control" value="{$admin_ads.name}" disabled="disabled">
                      </div>
                    </div> 
					
					<div class="form-group">
                      <label class="col-md-2 control-label">跟进业务员：</label>
                      <div class="col-md-6">
					    <input type="hidden" class="form-control" name="admin_id" value="<?php echo $_SESSION['aid'];?>" >
                        <input type="text" class="form-control" value="<?php echo $_SESSION['aname'];?>" disabled="disabled">
                      </div>
                    </div> 
					
					
				
					</if>
                    
                    <div class="form-group">
                      <div class="col-md-offset-2 col-sm-9">
                        <input type="hidden" name="iid" value="{$data.id}">
                        <input type="submit" class="btn btn-block btn-primary btn-flat" value="提交"></input>
                      </div>
                    </div>
                </form>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>

    <include file="common:js" />
	
	<script type="text/html" id="columnTemp">
      <option value="">请选择</option>
      <%each list as v%>
      <option value="<%=v.id%>"><%=v.username%></option>
      <%/each%>
    </script>
    <script type="text/javascript">
	  var ue = UE.getEditor('container', {});
	   $("select[name='admin_ids']").change(function(){
        var id = $(this).val();
        $.get("{:U('Admin/Uclient/admin_ids')}", {id:id}, function (re){
	    //alert(re);
		 
          if(re == 3){
             $("select[name='admin_id']").html('<option value="">请选择</option>');
          }else{
		  //alert(5);
           // $("select[name='rank_admin_id']").html('<option value="">请选择</option>');
		   var html = template("columnTemp", {list:re});
           $("select[name='admin_id']").html(html);
          }
        })
      })
	  
    </script>
    
  </body>
</html>
