<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
  </head>
   <style type="text/css">
    .fl {float: left;}
    .fr {float: right;}
    .clearfix:after {content: '';display: block;clear: both;height: 0;visibility: hidden;}
    .box-wrap {padding:15px 0px 60px;}
    .recording {border-right:1px solid #dcdcdc;}
    .recording .avatar {width: 120px;height: 120px;background-color: #42aded;border-radius:10px;display: inline-block;vertical-align: middle;}
     .recording .text {display: inline-block;vertical-align: middle;margin-left: 20px;width: 280px;position: relative;}
    .recording .text .name {color: #333;font-size: 24px;}
    .recording .text .xb {color: #555;font-size: 16px;margin: 10px 0;}
    .recording .text .gjr {color: #555;font-size: 18px;}
    .recording .text ul {position: absolute;top: 5px;right: 0px;}
    .recording .text ul li {margin-bottom: 15px;color: #555;font-size: 16px;}
    .recording .c-class {border:1px solid #ccc;padding: 0 15px;height: 34px;line-height: 32px;color: #555;font-size: 15px;margin-top: 80px;}
    .recording_con {margin-top: 40px;}
    .recording_con .nav-tabs>li>a {font-size: 15px;padding: 8px 24px;}
    .recording_con .tab-pane {padding-top: 20px;}
    .recording_con .tab-content .tab-pane .form-text {width: 100%;min-height: 120px;}
    .recording_con .tab-content .tab-pane .form-text .form-control {border-radius:5px;min-height: 90px;}
    .recording_con .tab-content .tab-pane .form-text .form-btn {float: right;width: 110px;margin-top: 15px;}
    .message {margin-top: 30px;}
    .message .send {margin-top: 25px;}
    .message .send .msg {font-size: 0px;}
    .message .send .msg .act{width: 60px;height: 60px;display: inline-block;vertical-align: top;}
    .message .send .msg .act img {width: 100%;}
    .message .send .msg .txt {width: calc(100% - 75px);margin-left: 15px;display: inline-block;vertical-align: middle;border:1px solid #dcdcdc;border-radius:5px;font-size: 14px;padding: 10px;}
    .message .send .msg .txt .name {display: block;margin-bottom: 6px;color: #00A0EA;}
    .message .send .msg .txt p {color: #333;}
    .message .send .msg .txt .date {color: #555;font-size: 13px;}
    .form-group {margin-bottom: 15px;}
    .form-group .control-label {padding-left: 5px;padding-right: 5px;text-align: right;}
	.page {text-align: right;padding: 5px 0;  width: 100%; margin: 0 auto;}
   .page a {display: inline-block;padding: 5px 15px;color:#333;font-size:15px; border-radius: 4px;border: 1px solid #ccc;margin-left: 5px;}
   .page a:hover,.page .on {background: #00a3ff;color:#fff}
  </style>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
      <!-- 左侧结束 -->
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-lg-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">添加/修改已成交客户信息</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
               
				
			     <div class="box-wrap clearfix">
                    <div class="recording col-md-5 col-lg-6">
                      <div class="heading clearfix">
                        <div class="avatar"><img src="/Public/admin/images/active.png" alt=""></div>
                        <div class="text">
                          <div class="name"><span style="font-size:15px">来源：<if condition="$data.sources neq ''"> 
						  （{$data.sources}）
						  <elseif condition="$data.source eq ''"/>
						    <if condition="$data.id eq ''"> 
							 无
						    <elseif condition="$data.allot eq 1"/>
						    （推广）
						    <elseif condition="$data.allot eq 0"/>
						   （录入）
						    </if>
						   <else/>
						  （{$data.source}）
						  </if></span><br/><notempty name="data.id">{$data.username}<else/>无</notempty></div>
						  <notempty name="data.id">
                          <div class="xb"><if condition="$data['sex'] eq 0">男<else/>女</if></div>
						  </notempty>
                          <div class="gjr">业务跟进人：<notempty name="data.id">{$data.admin_username}<else/>无</notempty></div>
						  <ul>
						  <li>渠道跟进人：<notempty name="data.id">{$rank_admin_username}<else/>无</notempty></li>
						  <li>财务跟进人：<notempty name="data.id">{$finance_admin_username}<else/>无</notempty></li>
						  </ul>
                        </div>
                        <div class="c-class fr"><notempty name="data.state_id">{$state_name}<else/>无</notempty></div>
                      </div>
					 
                      <div class="recording_con" id="au">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#home" data-toggle="tab">跟进记录</a></li>
                          <!--<li><a href="#profile" data-toggle="tab">录音资料</a></li>-->
                          <li><a href="#profile" data-toggle="tab" class="{$data.id}" title="{$data.admin_id}" alt="{$data.id}" id="lyzl">录音资料</a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div class="tab-pane fade active in" id="home">
						    <input type="hidden" class="liid" value="{$data.id}">
						    <form action="{:U('Admin/Uclient/record_desc')}" >   
                            <div class="form-text clearfix">
                              <textarea class="form-control sac" rows="3" name="use" placeholder="请输入客户跟进记录，不超过300字..."></textarea>
                              <div class="form-btn">
							  <notempty name="data.id">
                                <a class="btn btn-block btn-primary btn-flat" onclick="liyt(this)" value="确定添加" autocomplete="off">确定添加</a>
							  <else/>
                                <a class="btn btn-block btn-primary btn-flat" onclick="buke(this)" style="background-color: #777;border-color:#777" value="确定添加" autocomplete="off">确定添加</a>							  
							  </notempty>	
                              </div>
                            </div>
							</form>
							<script>
							  function liyt(){
							   var id = $(".liid").val();
							   var content = $(".sac").val();
							   $.get("{:U('Admin/Uclient/record_desc')}", {id:id,content:content}, function (re){
							
							      if(re == 2){
								      alert("提交失败");
								   }else{
								      $(".sac").html('');
									  $(".sac").val('');
								      $(".message").prepend('<div class="send"> <div class="msg"> <div class="act"><img src="/Public/admin/images/active-man.png"></div><div class="txt"><i class="msg_input"></i><span class="name">'+re.admin_id+'</span><p>'+re.content+'</p><div class="date">'+re.addtime+'</div></div></div></div>');
								   }
							   })
							  }
							  function buke(){
							  alert("请先添加右边内容！");
							  }
							</script>
                            <div class="form-dt">
                              <div class="message">
							  <foreach name="record" item="val">
                                <div class="send">
                                  <div class="msg">
                                    <div class="act"><img src="/Public/admin/images/active-man.png"></div>
                                    <div class="txt">
                                      <i class="msg_input"></i>
                                      <span class="name">{$val.admin_id}</span>
                                      <p>{$val.content}</p>
                                      <div class="date">{$val.addtime|date="Y-m-d H:i",###}</div>
                                    </div>
                                  </div>
                                </div>
								</foreach>
                              </div>
                              <div class="page" style="text-align:center;">
                                {$show}
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="profile">
                            <table border="1" id="lyt" cellpadding="80px" style="text-align:center" class="table table-bordered table-hover">
                              <tr>
                                <td>通话时间</td>
                                <td>通话时长/秒</td>
                                <td>录音</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="information col-md-7 col-lg-6">
                      <form class="form-horizontal" toUrl="/Admin/Coope/index" action="{:U('Admin/Coope/addindex')}" id="myforms">
                        <?php if(in_array(26,$levels)){?>
					  		  <div class="form-group">
						<label class="col-md-2 control-label">客户回款：</label>
						<div class="col-md-6">
						  <label class="radio-inline">
							<input type="radio" name="finance_state"  <if condition="$data['finance_state'] eq 0">checked</if> checked value="0"> 否
						  </label>
						   <label class="radio-inline">
							<input type="radio" name="finance_state" <if condition="$data['finance_state'] eq 1">checked</if> value="1"> 是
						  </label>
						</div>
					   </div>
                        <?php };?>
                        <div class="form-group">
                          <label class="col-md-2 control-label">客户姓名：</label>
                          <div class="col-md-4">
                            <input type="text" class="form-control requires" value="{$data.username}" name="username" placeholder="必填">
                          </div>

                          <label class="col-md-2 control-label">性别：</label>
                          <div class="col-md-4">
                            <label class="radio-inline">
                             <input type="radio" name="sex" <if condition="$data['sex'] eq 0">checked</if> checked value="0"> 男
                            </label>
                            <label class="radio-inline">
                             <input type="radio" name="sex" <if condition="$data['sex'] eq 1">checked</if> value="1"> 女
                            </label>
                          </div>
                        </div>
                       
                        <div class="form-group">
                          <?php if($data['admin_id'] == $_SESSION['aid'] || in_array('1005',$_SESSION['level']) || !$data['id']){?>
                          <label class="col-md-2 control-label">手机号码：</label>
                          <div class="col-md-4">
                            <input type="text" class="form-control requires" value="<?php echo $data['phone'];?>" name="phone" placeholder="必填">
                          </div>
                          <?php }?>

                          <label class="col-md-2 control-label">微信：</label>
                          <div class="col-md-4">
                            <input type="text" class="form-control" value="{$data.wechat}" name="wechat">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 control-label">贷款金额：</label>
                          <div class="col-md-4">
                            <input type="text" class="form-control requires" value="{$data.loan}" name="loan" placeholder="必填">
                          </div>

                          <label for="inputEmail3" class="col-md-2 control-label">客户类型：</label>
                          <div class="col-md-4">
                            <select class="form-control requires" name="type_id">
                              <option value="">请选择</option>
                              <foreach name="columns" item="value">
                              <option value="{$value.id}" <if condition="$data['type_id'] eq $value['id']">selected</if>>{$value.name}</option>
                              </foreach>
                            </select>
                          </div>                          
                        </div>
                         <if condition="$data.id eq ''">
						<div class="form-group">
                          <label class="col-md-2 control-label">客户来源：</label>
                          <div class="col-md-10">
                            <input type="text" class="form-control requires" value="{$data.source}" name="source" placeholder="必填(如：商桥、白名单、朋友介绍等)">
                          </div>
                        </div>
                        </if>
                        <div class="form-group">
                          <label class="col-md-2 control-label">贷款用途：</label>
                          <div class="col-md-10">
                            <textarea class="form-control" rows="3" name="use">{$data.use}</textarea>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-2 control-label">备注：</label>
                          <div class="col-md-10">
                            <textarea class="form-control" rows="3" name="content">{$data.content}</textarea>
                          </div>
                        </div>
                        <?php if(in_array(29,$levels)){?>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-md-2 control-label">跟进状态：</label>
                          <div class="col-md-6">
                            <select class="form-control requires" name="state_id" >
                              <option value="">请选择</option>
                              <foreach name="columnss" item="value">
                              <option value="{$value.id}" <if condition="$data['state_id'] eq $value['id']">selected</if>>{$value.name}</option>
                              </foreach>
                            </select>
                          </div>
                        </div>

                        <?php }?>
                
                        <span class="channel_rank">
                          <if condition="$data['id'] eq ''">
                          <div class="form-group">
                            <label for="inputEmail3" class="col-md-2 control-label">渠道跟进人员：</label>
                            <div class="col-md-3">
                            <select class="form-control" name="rank_id"  >
                              <option value="0">请选择</option>
                              <foreach name="rank" item="value">
                              <option value="{$value.id}" <if condition="$data['rank_id'] eq $value['id']">selected</if>>{$value.name}</option>
                              </foreach>
                            </select>             
                          </div>
                          <div class="col-md-3">
                            <select class="form-control" name="rank_admin_id" >
                              <option value="0">请选择</option>
                              <foreach name="data.rank" item="value">
                              <option value="{$value.id}" <if condition="$data['rank_admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
                              </foreach>
                            </select>
                          </div>
                          </div>
                         </if>
                        </span>
                
                        <span class="channel_finance">
                           <if condition="$data['id'] eq ''">
                            <div class="form-group">
                              <label for="inputEmail3" class="col-md-2 control-label">财务跟进人员：</label>
                              <div class="col-md-3">
                                <select class="form-control" name="finance_id" >
                                  <option value="0">请选择</option>
                                  <foreach name="finance" item="value">
                                  <option value="{$value.id}" <if condition="$data['finance_id'] eq $value['id']">selected</if>>{$value.name}</option>
                                  </foreach>
                                </select>             
                              </div>
                              <div class="col-md-3">
                                <select class="form-control" name="finance_admin_id" >
                                  <option value="0">请选择</option>
                                  <foreach name="data.finance" item="value">
                                  <option value="{$value.id}" <if condition="$data['finance_admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
                                  </foreach>
                                </select>
                              </div>
                            </div>
                            
                           </if>
                        
                        </span>
   <!--                     <div class="form-group">


                           <label class="col-md-2 control-label">放款(<span style="color:red">元</span>)：</label>
                              <div class="col-md-4">
                              <input type="text" class="form-control requires" value="{$data.price}" name="price" placeholder="金额"> <span></span>
                              </div>

                          <br>
                         </div>-->
                <!--       <div class="form-group">
                           <label class="col-md-2 control-label">回款(<span style="color:red">元</span>)：</label>
                              <div class="col-md-4">
                              <input type="text" class="form-control requires" value="{$data.hprice}" name="hprice"  placeholder="金额"> <span></span>
                              </div>
                        </div>-->

                        <?php if(in_array(27,$levels)){?>
                        <div class="form-group">
                          <label class="col-md-2 control-label">放款(<span style="color:red">元</span>)：</label>
                          <div class="col-md-6">
                            <input type="text" class="form-control requires" value="<?php echo $data['price'];?>" name="price"  placeholder="金额"> <span></span>
                          </div>
                        </div>
                        <?php }else{?>
                        <?php if($data['id'] == $_SESSION['aid']){?>
                        <div class="form-group">
                          <label class="col-md-2 control-label">放款(<span style="color:red">元</span>)：</label>
                          <div class="col-md-6">
                            <input type="text" class="form-control requires" value="<?php echo $data['price'];?>" name="price"  placeholder="金额"> <span></span>
                          </div>
                        </div>
                        <?php }?>
                        <?php };?>

                        <?php if(in_array(28,$levels)){?>
                        <div class="form-group">
                          <label class="col-md-2 control-label">回款(<span style="color:red">元</span>)：</label>
                          <div class="col-md-6">
                            <input type="text" class="form-control requires" value="<?php echo $data['hprice'];?>" name="hprice"  placeholder="金额"> <span></span>
                          </div>
                        </div>
                        <?php }else{?>
                        <?php if($data['id'] == $_SESSION['aid']){?>
                        <div class="form-group">
                          <label class="col-md-2 control-label">回款(<span style="color:red">元</span>)：</label>
                          <div class="col-md-6">
                            <input type="text" class="form-control requires" value="<?php echo $data['hprice'];?>" name="hprice"  placeholder="金额"> <span></span>
                          </div>
                        </div>
                        <?php }?>
                        <?php };?>




                        <if condition="($data['admin_id'] neq '') AND (in_array('1001',$_SESSION['level']))"> 
                        <notempty name="data.admin_ids">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-md-2 control-label">所属业务：</label>
                          <div class="col-md-6">
                            <select class="form-control requires" name="admin_ids">
                              <option value="">请选择</option>
                              <foreach name="genjin" item="value">
                              <option value="{$value.id}" <if condition="$data['admin_ids'] eq $value['id']">selected</if>>{$value._name}</option>
                              </foreach>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail3" class="col-md-2 control-label">跟进业务员：</label>
                          <div class="col-md-6">
                            <select class="form-control requires" name="admin_id">
                              <option value="">请选择</option>
                              <foreach name="columnsss" item="value">
                              <option value="{$value.id}" <if condition="$data['admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
                              </foreach>
                            </select>
                          </div>
                        </div>
                        <else/>
                        <div class="form-group">
                          <label class="col-md-2 control-label">跟进业务员：</label>
                          <div class="col-md-6">
                            <input type="hidden" class="form-control" name="admin_id" value="{$data.admin_id}" >
                            <input type="text" class="form-control" value="{$data.admin_username}" disabled="disabled">
                          </div>
                        </div>
                        </notempty>
                        <elseif condition="in_array('1001',$_SESSION['level'])"/>
                        <div class="form-group">
                          <label for="inputEmail3" class="col-md-2 control-label">所属业务：</label>
                          <div class="col-md-6">
                            <select class="form-control requires" name="admin_ids">
                              <option value="">请选择</option>
                              <foreach name="genjin" item="value">
                              <option value="{$value.id}" <if condition="$data['admin_ids'] eq $value['id']">selected</if>>{$value._name}</option>
                              </foreach>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail3" class="col-md-2 control-label">跟进业务员：</label>
                          <div class="col-md-6">
                            <select class="form-control requires" name="admin_id">
                              <option value="">请选择</option>
                              <foreach name="columnsss" item="value">
                              <option value="{$value.id}" <if condition="$data['admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
                              </foreach>
                            </select>
                          </div>
                        </div>
                        <else/>         
                        <notempty name="data.id">
                        <div class="form-group">
                          <label class="col-md-2 control-label">跟进业务员：</label>
                          <div class="col-md-6">
                            <input type="hidden" class="form-control" name="admin_id" value="{$data.admin_id}" >
                            <input type="text" class="form-control" value="{$data.admin_username}" disabled="disabled">
                          </div>
                        </div>
                        <else/>
                        
                        <div class="form-group">
                          <label class="col-md-2 control-label">跟进业务员：</label>
                          <div class="col-md-6">
                            <input type="hidden" class="form-control" name="admin_id" value="<?php echo $_SESSION['aid'];?>" >
                            <input type="text" class="form-control" value="<?php echo $_SESSION['aname'];?>" disabled="disabled">
                          </div>
                        </div>
                        </notempty>
                        </if>

                        <!-- <div class="form-group">
                            <label class="col-md-2 control-label">联系日期：</label>
                            <div class="col-md-6">
                              <input type="text" class="form-control requires" id="datetimepicker" <if condition="isset($data['lxtime'])">value="{$data.lxtime|date='Y-m-d H:i',###}"<else/>value="{:date('Y-m-d H:i', time())}"</if> name="lxtime">                        
                            </div>
                        </div> -->

                        <div class="form-group">
                          <label class="col-md-2 control-label">客户图片：</label>
                          <div class="col-md-7">
                            <div class="imgsPicker">选择图片</div>
                            <div id="imgsWrap">
                              <foreach name="data.images" item="value">
                                <if condition="$value neq ''">
                                  <div class="imgBox">
                                  <img src="__PUBLIC__{$value}" alt="" width="100%" height="100%">
                                  <button type="button" class="btn btn-danger btn-sm close-icon" onclick="removeImage(this)"><i class="fa fa-bitbucket"></i></button>
                                  <input type="hidden" name="images[]" value="{$value}">
                                  </div>
                                </if>
                              </foreach>
                            </div>
                          </div>
                        </div>
              
                        <div class="form-group">
                          <label class="col-md-2 control-label">客户文件：</label>
                          <div class="col-md-7">
                            <div class="filePicker" style="width:120px;height:42px;float:left;">选择文件</div>
                            <div id="fileWrap" style="float:left;margin-left: 30px;line-height: 42px;">
                              <if condition="$data['filename'] neq ''">
                                <span class="qix"><a href="/Public{$data.filename}">{$data.filename}</a></span>
                                <!-- <input type="hidden" value="{$data.fid}" name="fid"> -->
                                <input type="hidden" value="{$data.filename}" name="filename" id="qix"><a href="javascript:;" onclick="qix(this)">删除</a>
                              </if>
                            </div>
                          </div>
                        </div>
                        <script>
                          function qix(_this){
                            $("#qix").attr("value","");
                            $(".qix").html("");
                            $(_this).html("");
                          }
                        </script>   
                
                        <div class="form-group">
                          <label class="col-md-2 control-label">公司名称：</label>
                          <div class="col-md-10">
                            <input type="text" class="form-control" value="{$data.name}" name="name">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label">地址：</label>
                          <div data-toggle="distpicker">
                            <div class="col-md-3">
                              <if condition="$data.province neq ''">
                              <select class="form-control" name="province" id="province3"data-province="{$data.province}" ></select>
                              <else/>
                              <select class="form-control" name="province" id="province3" data-province="广东省"></select>
                              </if>
                            </div>
                            <div class="col-md-3">
                              <if condition="$data.province neq ''">
                              <select class="form-control" name="city" id="city3" data-city="{$data.city}" ></select>
                                          <else/>
                              <select class="form-control" name="city" id="city3" data-city="深圳市"></select>
                              </if>
                            </div>
                            <div class="col-md-4">
                              <if condition="$data.province neq ''">
                              <select class="form-control" name="district" id="district3" data-district="{$data.district}" ></select>
                                          <else/> 
                              <select class="form-control" name="district" id="district3" data-district="南山区"></select>
                              </if>
                            </div>
                          </div>
                        </div>
                
                        <div class="form-group">
                          <label class="col-md-2 control-label">详情地址：</label>
                          <div class="col-md-10">
                            <input type="text" class="form-control" value="{$data.address}" name="address">
                          </div>
                        </div>

                        <div class="form-group" style="margin-top:30px;">
                            <div class="col-md-offset-2 col-sm-10">
                        <input type="hidden" name="iid" value="{$data.id}">
                              <!--<input type="submit" class="btn btn-block btn-primary btn-flat" value="提交"></input>0922删&ndash;&gt;-->
                              <if condition="in_array('202',$_SESSION['level'])">
                                <input type="submit" class="btn btn-block btn-primary btn-flat" value="提交">
                                <else/>
                                <input type="submit" class="btn btn-block btn-primary btn-flat" value="提交" disabled="disabled">
                              </if>

                            </div>
                        </div>
                      </form>
                    </div>
                  </div>
				  
				
                </form>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>

    <include file="common:js" />
	
	<script type="text/html" id="columnTemp">
      <option value="">请选择</option>
      <%each list as v%>
      <option value="<%=v.id%>"><%=v.username%></option>
      <%/each%>
    </script>
    <script type="text/javascript">
	  var ue = UE.getEditor('container', {});
       $("select[name='admin_ids']").change(function(){
        var id = $(this).val();
        $.get("{:U('Admin/Coope/admin_ids')}", {id:id}, function (re){
	    //alert(re);
		 
          if(re == 3){
             $("select[name='admin_id']").html('<option value="">请选择</option>');
          }else{
		  //alert(5);
           // $("select[name='rank_admin_id']").html('<option value="">请选择</option>');
		   var html = template("columnTemp", {list:re});
           $("select[name='admin_id']").html(html);
          }
        })
      })
	  
	  // 表单非空验证
	$("#myforms").submit(function(){
	  var _this = $(this);
	  var flag = true;
	  $('form .requires').each(function (k, v){
	    if($(this).val() == ''){
	
	      flag = false;
	      $(this).addClass("require");
	    }
	  });
	
	  if(!flag){
	    window.location.href="#"
	    return false;
	  }
	  var url = _this.attr('action');

	  var data = _this.serialize();
	  var toUrl = _this.attr("toUrl")? _this.attr("toUrl") : "";
	  $.post(url, data, function (re){
	//alert(re);return false;
	    if(re == 1){
	      alert('提交成功');
	      if(toUrl){
	      	window.location.href= reload();
		
	      }else{
	      	window.location.reload();
	      }
	    }else if(re == 3){
		    alert('此手机号不可再申请');
	        //window.location.reload();
		}else if(re == 4){
		    window.location.reload();
		}else if(re > 10){
		    window.location.href='/Admin/Coope/addindex/id/'+re;
		}else{
	      alert('操作失败');
	      window.location.reload();
	    }
	  })
	  return false;
	});

      var count=true;
      $("#lyzl").click(function(){

          if (count) {
              uid=$(this).attr('alt');
              aid=$(this).attr('title');
              // alert(aid);
              $.post('/Admin/Uclient/lyzls',{uid:uid,aid:aid},function(data){
                  // alert(data);
                  // console.log(data[0].ids)

                  // console.log(data[0]['start_time'])
                  console.log(data)
                  if(data != 1){
                      for(i=0;i<data.length;i++){
                          var str=data[i]['start_time'];
                          var dats=str.substring(0,4)+'-'+str.substring(6,4)+'-'+str.substring(8,6)+'-'+str.substring(10,8)+':'+str.substring(12,10)+':'+str.substring(14,12);
                          $("#lyt").append("<tr><td>"+dats+"</td><td>"+data[i]['duration']+"s</td><td><audio class='autos' controls='controls' src="+data[i]['url']+">Your browser does not support the audio element</audio><a class='videos' target='_blank' href="+data[i]['url']+">试听</a></td></tr>");
                      }
                  }else{
                      $("#lyt").append("<tr><td>暂无数据</td></tr>");
                  }
              });
              count=false;
          }
      });
    </script>
    
  </body>
</html>
