<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />

  </head>
  <style>
    .require{
      border-color: red;
    }
	#image {margin-bottom:10px;}
            blockquote {margin:10px 0;padding:0;}
            .act1 {width:50px;
		}
  </style>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />

      <!-- 左侧结束 -->
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-lg-12 col-sm-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">添加状态</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="{:U('Admin/Type/addstate')}" toUrl="/Admin/Type/state" id="myform">
                  <div class="box-body">

                     <div class="form-group">
						<label class="col-md-2 control-label">数据类型：</label>
						<div class="col-md-6">
						  <label class="radio-inline">
							<input type="radio" name="type" <if condition="$data['type'] eq 0">checked</if> checked value="0"> 未成交数据
						  </label>
						  <label class="radio-inline">
							<input type="radio" name="type" <if condition="$data['type'] eq 1">checked</if> value="1"> 公海数据
						  </label>
						  <label class="radio-inline">
							<input type="radio" name="type" <if condition="$data['type'] eq 2">checked</if> value="2"> 7天内联系<span style="color:red">（注意:7天内没有联系自动投入公海数据）</span>
						  </label>
						  <label class="radio-inline">
							<input type="radio" name="type" <if condition="$data['type'] eq 3">checked</if> value="3"> 成交数据
						  </label>
						</div>
					  </div>
					  
					  <div class="form-group">
						<label class="col-md-2 control-label">跟进类型：</label>
						<div class="col-md-6">
						  <label class="radio-inline">
							<input type="radio" name="state" <if condition="$data['state'] eq 0">checked</if> checked value="0"> 业务员
						  </label>
						  <label class="radio-inline">
							<input type="radio" name="state" <if condition="$data['state'] eq 1">checked</if> value="1"> 渠道部
						  </label>
						  <label class="radio-inline">
							<input type="radio" name="state" <if condition="$data['state'] eq 2">checked</if> value="2"> 财务部
						  </label>
						</div>
					  </div>

                    <div class="form-group">
                      <label class="col-md-2 control-label">状态名称：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control requires" value="{$data.name}" name="name">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-2 control-label">显示颜色：</label>
                      <div class="col-md-3" id="container">
                        <input type="text" class="form-control requires" style="color:{$data.color}" value="{$data.color}" name="color" id="cp1">
                      </div>
                    </div>

                    
                    <div class="form-group">
                      <div class="col-md-offset-2 col-sm-6">
                        <input type="hidden" name="iid" value="{$data.id}">
                        <input type="submit" class="btn btn-block btn-primary btn-flat" value="提交"></input>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <include file="common:js" />
	<script language="javascript" type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="__PUBLIC__/admin/js/jquery.colorpicker.js"></script>
    <script type="text/javascript">
	 var $j = jQuery.noConflict();
       $j("#cp1").colorpicker({
            fillcolor:true
        });
	
    </script>
  </body>
</html>
