<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/money/information.css">
    <style>

    </style>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头部 -->
    <include file="common:head" />
    <!-- 头部结束
    <!-- 左侧 -->
    <include file="common:side" />
    <!-- 左侧结束 -->

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" style="height: 650px;">
                     <h3 class="box-title"><a href="/Admin/Monetary/listCustomer">现金客户</a>><a style="cursor: pointer;" class="goback">还回流程条</a></h3>
                        <div class="information">
                           <h4 class="h4">放款</h4>
                            <div class="rowleft" style="margin-left:0px;margin-bottom:20px;">
                                <a href="/Admin/Monetary/addsd?id={$id}" target="_blank" class="btn btn1 over" style="position: relative;top:-3px;background: #66cd00;color:#fff;width: 210px;margin-left:85px;font-size: 16px;">速&nbsp;&nbsp;贷</a>
                            </div>
                            <div class="rowleft" style="margin-left:0px;margin-bottom:20px;">
                                <a href="/Admin/Monetary/addsfd?id={$id}" target="_blank" class="btn btn1 over" style="position: relative;top:-3px;background: #66cd00;color:#fff;width: 210px;margin-left:85px;font-size: 16px;">速&nbsp;分&nbsp;贷</a>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</div>
<include file="common:js" />
</body>
</html>