<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
  </head>
    <style type="text/css">
	 #foonav{ display:none !important;}
	.addall{background:#dd4b39;padding:7px 15px;color:#fff;font-size:13px;float:right}
	.addall:hover{color:#fff;background:#d42020}
  </style>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
      <!-- 左侧结束 -->

      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">人员列表</h3>
                </div>
                <div class="box-body">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">人员列表</a></li>
                    <a class="addall" href="/Admin/Member/addindex">添加人员</a>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home">
                      <div class="box-body">
					  
                        <table id="example1" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th width="5%">ID</th>
                              <th width="10%">姓名</th>
							  <th width="10%">部门</th>
							  <th width="10%">手机</th>
                              <th width="15%">时间</th>
                              <th width="10%">操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <foreach name="data" item="value">
                            <tr>
                              <th>{$value.id}</th>
                              <th>{$value.username}</th>
							  <th>{$value.cname}</th>
							  <th>{$value.phone}</th>
                              <th>{$value.addtime|date='Y-m-d H:i',###}</th>
                              <td>
                                <a href="addindex/id/{$value.id}" class="btn btn-primary btn-sm">编辑</a>
                                <button class="btn btn-danger btn-sm" onclick="delByIds(this, {$value.id}, 'member')">删除</button>
                              </td>
                            </tr>
                            </foreach>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>

    <include file="common:js" />
    <script>
	// 通过ID删除
	function delByIds(_this, id, m)
	{
	  if(!confirm("确定要删除吗？")){
	    return false;
	  }
	  var delUrl = "{:U('Admin/Member/delById')}";
	  $.post(delUrl, {id : id, m : m}, function (re){
	    if(re == 1){
	      $(_this).parents('tr').remove();
	    }else if(re == 2){
	    	alert("先去权限管理删除该人员管理信息!");
	    	return;
	    }
	  })
	}
	</script>
  </body>
</html>
