<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
  </head>
    <style>
  .posF {display: none;height: 100%;left: 0; position: fixed; top: 0;width: 100%; z-index: 99999;}
.posF .bg { background: #000 none repeat scroll 0 0; height: 100%; left: 0;opacity: 0.35; position: absolute;top: 0; width: 100%;z-index: -1;}
.posF .box500 {background: #fff none repeat scroll 0 0; border-radius: 6px;margin: 12% auto 0;width: 500px;}
.posF .box500 .hd { border-bottom: 2px solid #dfdfdf; position: relative;}
.posF .box500 .hd p {color: #535353; font-size: 20px;line-height: 50px; margin: 0; text-indent: 2em;}
.posF .box500 .hd .off {background: rgba(0, 0, 0, 0) url("/Public/home/images/pop-close.png") no-repeat; cursor: pointer; display: block; height: 33px; margin-top: -10.5px; position: absolute; right: 0px; top: 50%;width: 35px;}
.posF .bd { padding: 30px;}
.posF .rope { margin: 0 25px 10px;padding: 0;text-align: center;}
.posF .rope span {color: #535353;display: inline-block; }
.posF .rope select {border: 1px solid #e5e5e5;color: #333;height: 36px;outline: medium none;width: 310px;}
.posF .rope input {border: 1px solid #e5e5e5; color: #333;height: 34px;line-height: 34px;outline: medium none;padding: 0 7px; width: 296px;}
.posF .rope button.off {background-color: #b5b5b5;color: #fff; margin-left: 0;}
.posF .rope .submit {background: #f10215 none repeat scroll 0 0;color: #fff;}
.posF .rope a {border: 0 none; border-radius: 4px;cursor: pointer;display: inline-block;font-family: "Microsoft Yahei";font-size: 14px;height: 36px;line-height: 36px;margin-left: 23px;outline: medium none; padding: 0 15px;width: 105px;}
.show1{display: block;}
  </style>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <!-- 头部 -->
      <include file="common:head" />
      <!-- 头部结束 -->
      <!-- 左侧 -->
      <include file="common:side" />
      <!-- 左侧结束 -->
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-lg-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">预览未成交客户信息</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                <form class="form-horizontal" >
	
					
				
				
				
				    <div class="form-group">
                      <label class="col-md-2 control-label">客户姓名：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control requires" value="{$data.username}" disabled="disabled">
                      </div>
                    </div>
					
					
					<div class="form-group">
						<label class="col-md-2 control-label">性别：</label>
						<div class="col-md-6">
						  <label class="radio-inline">
							<input type="radio" checked value="0"> <if condition="$data['sex'] eq 0">男</if><if condition="$data['sex'] eq 1">女</if>
						  </label>
						   
						</div>
					  </div>
					
					 <div class="form-group">
                      <label class="col-md-2 control-label">手机号码：</label>
                      <div class="col-md-3">
                        <input type="text" class="form-control requires" value="{$data.phones}" disabled="disabled">
                      </div>
					  <div class="col-md-1">                       <?php if($data['admin_id'] == $_SESSION['aid'] || in_array('1005',$_SESSION['level'])){?>
                        <a href="javascript:;" onclick="getview()" style="background-color:#00c0ef" class="btn btn-primary btn-sm">查看</a>                       <?php }?>
                      </div>
                    </div>

					<div class="form-group">
                      <label class="col-md-2 control-label">微信：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" value="{$data.wechat}" disabled="disabled">
                      </div>
                    </div>
					
					
                    <div class="form-group">
                      <label class="col-md-2 control-label">贷款金额：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control requires" value="{$data.loan}" disabled="disabled">
                      </div>
                    </div>
					
					<div class="form-group">
                      <label class="col-md-2 control-label">贷款用途：</label>
                      <div class="col-md-6">
                        <textarea class="form-control" rows="3"  disabled="disabled">{$data.use}</textarea>
                      </div>
                    </div>
					<div class="form-group">
                      <label class="col-md-2 control-label">客户详细情况：</label>
                      <div class="col-md-6">
                        <textarea class="form-control requires" rows="3" disabled="disabled" >{$data.details}</textarea>
                      </div>
                    </div>
					
					<div class="form-group">
                      <label class="col-md-2 control-label">沟通记录：</label>
                      <div class="col-md-9">
                        <script id="container" name="content" type="text/plain">{$data.content}</script>
                      </div>
                    </div>
					
					<div class="form-group">
                      <label class="col-md-2 control-label">公司名称：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" value="{$data.name}" disabled="disabled">
                      </div>
                    </div>
					<div class="form-group">
					<label class="col-md-2 control-label">地址：</label>
					<div data-toggle="distpicker">
						<div class="col-md-2">						 
						  <input type="text" class="form-control" value="{$data.province}" disabled="disabled">
						</div>
						<div class="col-md-2">
						  <input type="text" class="form-control" value="{$data.city}" disabled="disabled">
						</div>
						<div class="col-md-2">
						  <input type="text" class="form-control" value="{$data.district}" disabled="disabled">
						</div>
					 </div>
					  </div>
					
				    <div class="form-group">
                      <label class="col-md-2 control-label">详情地址：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" value="{$data.address}" disabled="disabled">
                      </div>
                    </div> 
					
					<div class="form-group">
                      <label class="col-md-2 control-label">客户图片：</label>
                      <div class="col-md-7">
                       
                        <div id="">
                          <foreach name="data.images" item="value">
                          	<if condition="$value neq ''">
                            	<div class="imgBox">
                            	<a href="__PUBLIC__{$value}" target="_blank"><img width="100%" src="__PUBLIC__{$value}" alt="" width="100%" height="100%"></a>
                            	
                             	</div>
                            </if>
                          </foreach>
                        </div>
                      </div>
                    </div>
				
					<div class="form-group">
                      <label class="col-md-2 control-label">客户文件：</label>
                      <div class="col-md-7">
                       
                        <div id="fileWrap" style="float:left;margin-left: 30px;line-height: 42px;">
                          <if condition="$data['filename'] neq ''">
                            <span class="qix"><a href="/Public{$data.filename}">{$data.filename}</a></span>
                            <!-- <input type="hidden" value="{$data.fid}" name="fid"> -->
                          
                          </if>
                        </div>
                      </div>
                    </div>
					<script>
					  function qix(_this){
					     $("#qix").attr("value","");
						 $(".qix").html("");
						 $(_this).html("");
					  }
					</script>
					
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">客户类型：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" name="type_id" disabled="disabled"> 
                          <option value="">请选择</option>
                          <foreach name="columns" item="value">
                          <option value="{$value.id}" <if condition="$data['type_id'] eq $value['id']">selected</if>>{$value.name}</option>
                          </foreach>

                        </select>
                      </div>
                    </div>
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">跟进状态：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" name="state_id" disabled="disabled">
                          <option value="">请选择</option>
                          <foreach name="columnss" item="value">
                          <option value="{$value.id}" <if condition="$data['state_id'] eq $value['id']">selected</if>>{$value.name}</option>
                          </foreach>

                        </select>
                      </div>
                    </div>
					
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">渠道跟进人员：</label>
                      <div class="col-md-3">
                        <select class="form-control" name="rank_id" disabled="disabled">
                          <option value="">请选择</option>
                          <foreach name="rank" item="value">
                          <option value="{$value.id}" <if condition="$data['rank_id'] eq $value['id']">selected</if>>{$value.name}</option>
                          </foreach>
                        </select>
						
                      </div>
					  <div class="col-md-3">
                        <select class="form-control" name="rank_admin_id" disabled="disabled">
                          <option value="">请选择</option>
						  <notempty name="data.rank">
                          <foreach name="data.rank" item="value">
                          <option value="{$value.id}" <if condition="$data['rank_admin_id'] eq $value['rand_id']">selected</if>>{$value.username}</option>
                          </foreach>
						  </notempty>
                        </select>
						
                      </div>
					 
                    </div>
					
					<span class="channel_finance">
					<notempty name="data.finance_id">
					   <div class="form-group">
						  <label for="inputEmail3" class="col-md-2 control-label">财务跟进人员：</label>
						  <div class="col-md-3">
							<select class="form-control" disabled="disabled">
							  <option value="0">请选择</option>
							  <foreach name="finance" item="value">
							  <option value="{$value.id}" <if condition="$data['finance_id'] eq $value['id']">selected</if>>{$value.name}</option>
							  </foreach>
							</select>
							
						  </div>
						  <div class="col-md-3">
							<select class="form-control" disabled="disabled">
							  <option value="0">请选择</option>
							  <foreach name="data.finance" item="value">
							  <option value="{$value.id}" <if condition="$data['finance_admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
							  </foreach>
							</select>
						  </div>
						</div>
						<div class="form-group">
						  <label class="col-md-2 control-label">放款金额：</label>
						  <div class="col-md-3">
							<input type="text" class="form-control requires" value="{$data.price}" disabled="disabled" >
						  </div>
						  <span>万元</span>
						</div>
						<div class="form-group">
						  <label class="col-md-2 control-label">回款金额：</label>
						  <div class="col-md-3">
							<input type="text" class="form-control requires" value="{$data.hprice}" disabled="disabled">
						  </div>
						  <span>万元</span>
						</div>
					 </notempty>	
					</span>
					
				   <if condition="($data['admin_id'] eq $_SESSION['aid']) OR (in_array('1003',$_SESSION['level']))"> 
					<div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">跟进业务员：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" name="admin_id" disabled="disabled">
                          <option value="{$data.admin_id}">{$data.admin_username}</option>
                          <foreach name="columnsss" item="value">
                          <option value="{$value.id}" <if condition="$data['admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
                          </foreach>
                        </select>
                      </div>
                    </div>
					<else/>
					<notempty name="data.id">
					<div class="form-group">
                      <label class="col-md-2 control-label">跟进业务员：</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" value="{$data.admin_username}" disabled="disabled">
                      </div>
                    </div> 
					<else/>
					<div class="form-group">
                      <label class="col-md-2 control-label">跟进业务员：</label>
                      <div class="col-md-6">
                        <select class="form-control requires" disabled="disabled" >
                          <option value="">请选择</option>
                          <foreach name="columnsss" item="value">
                          <option value="{$value.id}" <if condition="$data['admin_id'] eq $value['id']">selected</if>>{$value.username}</option>
                          </foreach>
                        </select>
                      </div>
                    </div>
					</notempty>
					</if>
					
					
				
					<div class="form-group">
                      <label class="col-md-2 control-label">联系日期：</label>
                      <div class="col-md-6">
                        <input type="text" disabled="disabled" class="form-control requires" id="datetimepicker" <if condition="isset($data['lxtime'])">value="{$data.lxtime|date='Y-m-d H:i',###}"<else/>value="{:date('Y-m-d H:i', time())}"</if> name="lxtime">                        
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-sm-9">
                        <a class="btn btn-block btn-primary btn-flat" onclick="javascript:history.back(-1);">返回</a>
                      </div>
                    </div>
                  
                </form>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>
     <!-- 模态框（Modal） -->
  <!--   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal" aria-hidden="true">
                      &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   电话号码
                </h4>
             </div>
             <div class="modal-body" style="text-align:center">
                
             </div>
			  
             
          </div>
    </div>
	</div> -->
		<div class="posF" id="Sign" >
    <div class="bg"></div>
    <div class="box500">
      <div class="hd posR"> 
        <p >查看电话号码</p>
        <span class="off posA" onclick="Sign_off(this)">&nbsp;</span>
      </div>
      <div class="bd">     
          <div class="rope">
            <span style="color:red" id="phone_on"><!-- <em class="rank_admin_username" style="color:#04c"></em> --><!-- <em></em> --></span>
			<input type="hidden" name="send_id" class="rank_id" value="">
			<input type="hidden" name="send_id" class="rank_username" value="">
          </div>   
          <div class="rope" style="margin-top:25px"> 
            <a onclick="Sign_off()" style="background:red" class="submit">关闭</a>
          </div>  
      </div>
    </div>
  </div>
    <include file="common:js" />
	<script type="text/javascript">
    function getview(){
	      $("#phone_on").html("{$data.phone}");
		  
         // $('#myModal').modal('show');
		 $("#Sign").addClass('show1');
         
    }

    function Sign_off(_this){
       $("#Sign").removeClass("show1");
    }
    </script>
	
	<script type="text/html" id="columnTemp">
      <option value="">请选择</option>
      <%each list as v%>
      <option value="<%=v.id%>"><%=v.username%></option>
      <%/each%>
    </script>
    <script type="text/javascript">
	  var ue = UE.getEditor('container', {});
	  $("select[name='rank_id']").change(function(){
        var id = $(this).val();
        $.get("{:U('Admin/Uclient/getrank_admin')}", {id:id}, function (re){
	    //alert(re);
          if(re){
            var html = template("columnTemp", {list:re});
            $("select[name='rank_admin_id']").html(html);
          }else{
		  //alert(5);
            $("select[name='rank_admin_id']").html('<option value="">请选择</option>');
          }
        })
      })
    </script>
    
  </body>
</html>
