<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/money/information.css">
    <style>
        .btn {
        font-size: 15px;
        }
        .btn1{
            border: 1px solid #ccc;
            background: #00A2D4;
            color: #fff;
            width: 110px;
        }
        .preview{
            position:relative;
            top:-60px;
            left: 260px;
        }
    </style>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头部 -->
    <include file="common:head" />
    <!-- 头部结束
    <!-- 左侧 -->
    <include file="common:side" />
    <!-- 左侧结束 -->

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" style="height: 650px;">
                     <h3 class="box-title"><a href="/Admin/Intermediary/index">居间客户</a>><a style="cursor: pointer;" class="goback" href="/Admin/Intermediary/mort?id={$id}&ss={$sid}">返回流程条</a></h3>
                        <div class="information">
                           <h4 class="h4">抵押</h4>
                        <form action="/Admin/Intermediary/mPublicFun" method="post" id="info_form2" enctype="multipart/form-data">
                            <div style="margin-left:40px;font-size: 15px;margin-bottom:10px;">
                                抵押类型：<select type="text" style="margin-left: 33px;width: 90px;" name="mortgage_sl_address">
                                <option value="0">请选择</option>
                                <option value="1" <?php echo  $data['mortgage_sl_address']==1?'selected':'' ?>>民间</option>
                                <option value="2" <?php echo  $data['mortgage_sl_address']==2?'selected':'' ?>>银行</option>
                                <option value="3" <?php echo  $data['mortgage_sl_address']==3?'selected':'' ?>>机构</option>

                            </select>
                            </div>
                            <!-- <div style="margin-left:40px;font-size: 15px;margin-bottom:10px;">
                                抵押时间：<input type="text" style="margin-left: 33px;width: 150px;" name="mortgage_time" value="{$data['mortgage_time']}">
                            </div> -->
                            <div style="margin-left:40px;font-size: 15px;margin-bottom:20px;">
                                预计放款时间：<input type="text" style="margin-left: 5px;width: 150px;" name="expected_time" value="{$data['expected_time']}">
                            </div>

                            <div style="margin-left: 39px;">
                                <label class="property" >抵押函：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input style="left: 50px;position: relative;" type="file" id="path70" name="letter_mortgage">
                                <input style="left: 14px;" type="button" class="choose" value="选择文件" onclick="path70.click()">
                                <a href="/Admin/Intermediary/preview?zd=letter_mortgage&id=" target="_blank" class="btn btn1 preview" style="position:relative;top: -30px;left: 160px;" name="letter_mortgage">预览</a>
                            </div>

                            <p style="font-size: 15px;margin-left: 40px;">准备资料</p>
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity" name="mortgage_information[]" value="1" <?php echo strstr($data['mortgage_information'],'1')!=''?'checked':'' ?>>夫妻身份证原件（复印件）</label>
                            </div>
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity" name="mortgage_information[]" value="2" <?php echo strstr($data['mortgage_information'],'2')!=''?'checked':'' ?>>夫妻户口本原件（复印件）</label>
                            </div>
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity" name="mortgage_information[]" value="3" <?php echo strstr($data['mortgage_information'],'3')!=''?'checked':'' ?>>房产证 </label>
                            </div>
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity" name="mortgage_information[]" value="4" <?php echo strstr($data['mortgage_information'],'4')!=''?'checked':'' ?>>婚姻证明</label>
                            </div>
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity" name="mortgage_information[]" value="5" <?php echo strstr($data['mortgage_information'],'5')!=''?'checked':'' ?>>新开贷款卡原件与所有密码U盾 </label>
                            </div>
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity" name="mortgage_information[]" value="6" <?php echo strstr($data['mortgage_information'],'6')!=''?'checked':'' ?>>第三方身份证、卡、U盾 </label>
                            </div>
                            
                            <input type="hidden" value="{$data['cid']}" name="id" id="ids">
                            <input type="hidden" value="MortNine" name="step">
                            <input type="submit" style="margin-left:68px;" value="提&nbsp;&nbsp;交" class="tjs">
                            <a href="/Admin/Intermediary/over/s/ninetime?state_id=37&id=" target="_blank" class="btn btn1 over" style="position: relative;top:-3px;background: #66cd00;color:#fff;width: 110px;margin-left:78px;font-size: 16px;">完&nbsp;&nbsp;成</a>
                        </form>
                        <input type="hidden" id="xszd" value="{$str}">
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</div>

<include file="common:js" />

<script>
    function checkform(){
        return true;
    }
    var url=document.URL;
    var ids=url.split('=');
    $("#ids").val(ids[ids.length-1]);

    //完成
    var dlc=$(".over").attr('href');
    $(".over").attr('href',dlc+ids[ids.length-1]); 
    
    $(".preview").each(function(){
            var ss=$(this).attr('href');
            $(this).attr('href',ss+ids[ids.length-1]);
        });
    
    $(function(){
            var str=$("#xszd").val().split(',');
            
            $(".preview").each(function(){
                if($.inArray($(this).attr('name'), str)>-1){
                    $(this).css('visibility','visible');
                }else{
                     $(this).css('visibility','hidden');
                }
                
            });
            
        });
</script>
</body>
</html>